html,
body{
	width: auto;
	height: 100%;
}
body{
	padding: 10px;
}

#wrapper{
	width: 400px;
	margin: 0 auto;
}

#menu{
	padding-left: 14px;
	clear:both;
}
#menu li{
	float: left;
	margin-right: 28px;
}

#menu li a{
	font-size: 18px;
	line-height: 35px;
	color: white;
	opacity: 0.5;
    -webkit-transition: opacity .3s;
	transition: opacity .3s;
}

#menu li a:hover,
#menu li a.cur_tab{
	opacity: 1;
}

#user{
	margin: 10px;
}

input{
	border:1px solid gray;
	height: 27px;
	width: 100%;
	margin: 0 auto;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
#input{
	width: 200px;
	margin:0 auto;
}

button{
	height: 29px;
	display: inline;
}


/* friends list */
#friend_list{
	margin: 10px 0 0 0;
}
#friend_list{
	max-height: 485px;
	overflow: auto;
}
#friend_list li{
	width: 100%;
	overflow: hidden;
}
#friend_list li:last-child{
	margin-bottom: 0;
}

#friend_list li a{
	float:left;
	width:100%;
}

#friend_list li a:hover{
	background: #F1F4FA;
}

#friend_list img.head{
	height:50px;
	width:50px;
	float: left;
	margin: 5px;
}
#friend_list .name{
	float:left;
	color: #369;
	padding-top: 8px;
	font-weight:bold;
}